In [3]:
import pandas as pd
pd.set_option('display.max_columns', None)
import numpy as np
import pymongo
from bson.objectid import ObjectId

In [4]:
sheet_1=pd.read_excel('Additional Card Requests.xlsx',sheet_name=0)
sheet_2=pd.read_excel('Additional Card Requests.xlsx',sheet_name=1)

In [ ]:
user1=sheet_1['UserId']

In [5]:
user2=sheet_2['UserId']

In [ ]:
user1 = [ObjectId(i) for i in sheet_1['UserId']]

In [6]:
def init_connection():
    return pymongo.MongoClient('mongodb+srv://softcom-data:1Tg1maGQm5veVrLe@eyowo.wswtr.mongodb.net/eyowo?authSource=admin&replicaSet=Eyowo-shard-0&w=majority&readPreference=primary&retryWrites=true&ssl=true')

client = init_connection()

In [7]:
def get_users(collection='users'):
    db = client['eyowo']
    items = db[collection].find({'_id':{'$in':user1}})
    items = list(items) 
    df = pd.DataFrame(items)
    return df

In [ ]:
user_1 = get_users()

In [ ]:
data_1 = pd.concat([user_1,pd.json_normalize(user_1['settings'])],axis=1)[['_id','firstName','lastName','mobile','recoveryEmail']]
data_1['_id'] = data_1['_id'].astype(str)

In [ ]:
sheet_1.merge(data_1,left_on='UserId',right_on='_id').to_csv('korede_file.csv')

In [17]:
sheet_2.head()

,ID,Tier,AccountNumber,EstimatedDeliveryTime,TimeCreated,DeliveryCharges,Type,DeliveryState,DeliveryAddress,Currency,Status,ID2,BusinessId,UserId,TimeGenerated,NameOnCard,DeliveryPhone,TimeUpdated,AccountId,Email
0,6140cf644ccfad67c7f9606a,2.0,8.078862e+09,1.631810e+12,1.631637e+09,150000.0,physical,Niger State,"Ahmadu Bello way, lapai Niger state",NGN,processing,6140cf644ccfad67c7f96069,NaN,5e767dbe2618ec186f55796c,1.631664e+09,IBRAHIM ABUBAKAR,7066711212.0,1.631664e+09,5e767dbe2618ec186f55796c,NaN
1,6140f4524ccfad67c7f9606e,2.0,8.109275e+09,1.631820e+12,1.631647e+09,150000.0,physical,Ogun,"24 Oke Lantoro, 111101, Abáº¹Ì_x0081_Ã²kÃºta, ...",NGN,processing,6140f4524ccfad67c7f9606d,NaN,5fa867e21eef023ce0e714f3,1.631664e+09,BOLUWATIFE OLUYINKA,2348109275459.0,1.631664e+09,5fa867e21eef023ce0e714f3,NaN
2,614271b4112343020d292dec,3.0,8.035128e+09,1.631917e+12,1.631744e+09,150000.0,physical,Lagos State,"Taju Thompson Drive, Obele, Surulere",NGN,processing,614271b4112343020d292deb,NaN,61426ce5cb8463f85c3c457a,1.642781e+09,CHIKE IKEORAH,8035128238.0,1.642781e+09,61426ce5cb8463f85c3c457a,NaN
3,614909e1112343020d292df2,3.0,7.030709e+09,1.632349e+12,1.632177e+09,150000.0,physical,Delta State,Chief Edokan Plaza Kpateghe Road Off Ibori Rou...,NGN,processing,614909e1112343020d292df1,NaN,614895b9cb8463f85c3c6ff1,1.642781e+09,SYLVESTER EWEYEJU,7030708570.0,1.642781e+09,614895b9cb8463f85c3c6ff1,NaN
4,614987cb112343020d292df4,3.0,4.000001e+09,1.632382e+12,1.632209e+09,150000.0,physical,FCT - Abuja,"Funtaj Rd, 900105, Kuje, Nigeria",NGN,processing,614987cb112343020d292df3,NaN,5e497557295a6a2f207c420d,1.642781e+09,damilola ige,2348138875085.0,1.642781e+09,614985fd6662972614c37368,NaN

In [16]:
#user2 = [ObjectId(i) for i in sheet_2['UserId'].astype()]

sheet_2['UserId'].apply(ObjectId)

TypeError: id must be an instance of (bytes, str, ObjectId), not <class 'float'>

In [ ]:
def get_users(collection='users'):
    db = client['eyowo']
    items = db[collection].find({'_id':{'$in':user2}})
    items = list(items) 
    df = pd.DataFrame(items)
    return df

In [ ]:
user_2 = get_users()

In [ ]:
data_2 = pd.concat([user_2,pd.json_normalize(user_2['settings'])],axis=1)[['_id','firstName','lastName','mobile','recoveryEmail']]
data_2['_id'] = data_2['_id'].astype(str)

In [ ]:
sheet_2.merge(data_2,left_on='UserId',right_on='_id').to_csv('korede3_file.csv')